<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Tchatche</display-name>
	<servlet>
       <servlet-name>init</servlet-name>
       <servlet-class>tchatche.init</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>Tchatche</servlet-name>
       <servlet-class>tchatche.Tchatche</servlet-class>
    </servlet>
    <servlet>
       <servlet-name>Admin</servlet-name>
       <servlet-class>tchatche.Admin</servlet-class>
   </servlet>
</web-app>