<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <display-name>Polymap</display-name>
    <servlet>
        <servlet-name>MessageController</servlet-name>
        <servlet-class>projetDW2.ServletMessageController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletAjoutAmi</servlet-name>
        <servlet-class>projetDW2.ServletAjoutAmi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadImage</servlet-name>
        <servlet-class>projetDW2.ServletUploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoadData</servlet-name>
        <servlet-class>projetDW2.ServletLoadData</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadMap</servlet-name>
        <servlet-class>projetDW2.ServletUploadMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjoutPing</servlet-name>
        <servlet-class>projetDW2.ServletAjoutPing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReload</servlet-name>
        <servlet-class>projetDW2.ServletReload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageController</servlet-name>
        <url-pattern>/MC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjoutAmi</servlet-name>
        <url-pattern>/SAA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadImage</servlet-name>
        <url-pattern>/SUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoadData</servlet-name>
        <url-pattern>/SLD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadMap</servlet-name>
        <url-pattern>/SUM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjoutPing</servlet-name>
        <url-pattern>/SAP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReload</servlet-name>
        <url-pattern>/SR</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
