@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body, html {
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
}

/**************** PAGE ACCUEIL  ****************/

.Menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.Menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.Menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.Menu a {
    padding: 0.3em 0;
    color: cornsilk;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.Menu a:before,
.Menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.Menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
}

.Menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: cornsilk;
    white-space: nowrap;
}

.Menu li:hover a,
.Menu .current a {
    transform: translateY(100%);
}

.Logo {
    height: 100px;
    width: 300px;
    position: fixed;
    left: 10px;
    top: 10px;
}

.data1{
    border-width: medium;
    border-color: #e67e22;
    border-style: double;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 700px;
    width: 500px;
    display: inline-block;
    color: cornsilk;
    left: 191.5px;
    top: 150px;
    position: absolute;
}

.data2{
    border-width: medium;
    border-color: #e67e22;
    border-style: double;
    height: 700px;
    width: 500px;
    display: inline-block;
    color: cornsilk;
    left: 695.5px;
    top: 150px;
    position: absolute;
}

.data3{
    border-width: medium;
    border-color: #e67e22;
    border-style: double;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 700px;
    width: 500px;
    display: inline-block;
    color: cornsilk;
    left: 1199.5px;
    top: 150px;
    position: absolute;
}

.ImUtil{
    object-fit: fill;
    width: 500px;
    height: 500px;
}

.nameUtil{
    position: relative;
    top: 10px;
    font-size: 35px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.titreAmis{
    position: relative;
    top: 10px;
    font-size: 30px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.titreMap{
    position: relative;
    top: 10px;
    font-size: 30px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.changePhoto{
    position: relative;
    top: 5px;
    font-size: 20px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.bFile{
    position: relative;
    text-align: center;
    left: 100px;
}

.bEnvoi{
	position: relative;
    text-align: center;
    left: 200px;
}

.lAmis{
	position: relative;
    font-size: 20px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.Amiinput{
	position:absolute;
	bottom:40px;
	left: 780px;
}

.bAmi{
	position:absolute;
	bottom:10px;
	left: 910;
}

.textAjAmi{
	position:absolute;
	bottom:52px;
	text-align: center;
    font-size: 15px;
    color: cornsilk;
    left: 880px;
}