@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body, html {
    background: #1c1d22;
    font-family: "Varela Round", sans-serif;
}

/**************** PAGE ACCUEIL  ****************/

.Menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.Menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.Menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
}

.Menu a {
    padding: 0.3em 0;
    color: cornsilk;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}

.Menu a:before,
.Menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.Menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
}

.Menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: cornsilk;
    white-space: nowrap;
}

.Menu li:hover a,
.Menu .current a {
    transform: translateY(100%);
}

.Logo {
    height: 100px;
    width: 300px;
    position: fixed;
    left: 10px;
    top: 10px;
}

.LMap{
	position: relative;
    top: 10px;
    font-size: 30px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}

.BoutonMap{
	background: no-repeat center center fixed;
  	width: 1800px;
  	height: 125px;
  	border-width: medium;
    border-color: #e67e22;
    border-style: solid;
    border-radius: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.TextMap{
	color: #1c1d22;
	position: relative;
	font-size: 100px;
	text-transform : uppercase;    
    text-shadow: rgb(230, 126, 34) 7px 0px 0px, rgb(230, 126, 34) 6.92869px 0.996602px 0px, rgb(230, 126, 34) 6.71622px 1.9729px 0px, rgb(230, 126, 34) 6.36692px 2.909px 0px, rgb(230, 126, 34) 5.8879px 3.78584px 0px, rgb(230, 126, 34) 5.28893px 4.58555px 0px, rgb(230, 126, 34) 4.5822px 5.29183px 0px, rgb(230, 126, 34) 3.78212px 5.8903px 0px, rgb(230, 126, 34) 2.90498px 6.36876px 0px, rgb(230, 126, 34) 1.96865px 6.71747px 0px, rgb(230, 126, 34) 0.992221px 6.92932px 0px, rgb(230, 126, 34) -0.00442571px 7px 0px, rgb(230, 126, 34) -1.00098px 6.92806px 0px, rgb(230, 126, 34) -1.97715px 6.71498px 0px, rgb(230, 126, 34) -2.91303px 6.36508px 0px, rgb(230, 126, 34) -3.78956px 5.88551px 0px, rgb(230, 126, 34) -4.58889px 5.28603px 0px, rgb(230, 126, 34) -5.29472px 4.57885px 0px, rgb(230, 126, 34) -5.89269px 3.77839px 0px, rgb(230, 126, 34) -6.3706px 2.90095px 0px, rgb(230, 126, 34) -6.71871px 1.96441px 0px, rgb(230, 126, 34) -6.92995px 0.98784px 0px, rgb(230, 126, 34) -6.99999px -0.00885142px 0px, rgb(230, 126, 34) -6.92743px -1.00536px 0px, rgb(230, 126, 34) -6.71372px -1.98139px 0px, rgb(230, 126, 34) -6.36324px -2.91705px 0px, rgb(230, 126, 34) -5.88311px -3.79328px 0px, rgb(230, 126, 34) -5.28313px -4.59223px 0px, rgb(230, 126, 34) -4.57551px -5.29762px 0px, rgb(230, 126, 34) -3.77466px -5.89508px 0px, rgb(230, 126, 34) -2.89692px -6.37243px 0px, rgb(230, 126, 34) -1.96016px -6.71995px 0px, rgb(230, 126, 34) -0.983458px -6.93057px 0px, rgb(230, 126, 34) 0.0132771px -6.99999px 0px, rgb(230, 126, 34) 1.00974px -6.92679px 0px, rgb(230, 126, 34) 1.98564px -6.71247px 0px, rgb(230, 126, 34) 2.92107px -6.36139px 0px, rgb(230, 126, 34) 3.797px -5.88071px 0px, rgb(230, 126, 34) 4.59557px -5.28022px 0px, rgb(230, 126, 34) 5.30051px -4.57216px 0px, rgb(230, 126, 34) 5.89746px -3.77094px 0px, rgb(230, 126, 34) 6.37426px -2.89289px 0px, rgb(230, 126, 34) 6.72119px -1.95591px 0px, rgb(230, 126, 34) 6.93119px -0.979076px 0px;
}

.AffMap{
    margin:auto;
    display:block;
    position: relative;
    top: 50px;
}

.main {
    background-color: #1c1d22;
    width: 400px;
    height: 300px;
    margin: 2em auto;
    border-radius: 1.5em;
    border-color: #e67e22;
    border-width: thick;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.un {
    width: 76%;
    color: cornsilk;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(255, 230, 236, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #e67e22;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #1c1d22;
    background: linear-gradient(to right, #e67e22, #1c1d22);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

.Erreur{
    color: cornsilk;
    text-align: center;
}

.bFile{
    position: relative;
    text-align: center;
    left: 100px;
}

.upIm{
    position: relative;
    top: 5px;
    font-size: 15px;
    color: cornsilk;
    text-transform : uppercase;
    text-align: center;
}


